

.hidden {
  display: none;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.name-input {
  width: 300px;
  height: 95px; 
  padding-left: 20px;
  font-size: 15pt;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
  font-size: 30pt;
}

#statistics-stats {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-area-component {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 50vh;
  justify-content: space-between;
}

#computer-component,
#player1-move {
  width: 20%;
}

#statistics-list {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 20%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  margin-left: 2%;
  height: 55vh;
  overflow-y: scroll;
  border: 1px solid white;
}

#statistics-component {
  width: 40%;
  font-size: 20pt;
  text-align: center;
}

#my-move,
#player2-move {
  width: 20%;
  text-align: right;
}

#button-container {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
}

#button-container .moves {
  margin-top: 50px;
}

#button {
  width: 200px;
  height: 100px; 
}

#go-again {
  width: 20vw;
  height: 10vh;
  position: absolute;
  top: 60%;
  right: 49.5%;
  margin: auto;
}

#stats-container {
  display: flex;
  justify-content: center;
}